@model SocialMedia
@{
    ViewData["Title"] = "Yeni Sosyal Medya Ekle";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<form method="post">
    <div class="form-group">
        <label>Icon</label>
        <input type="text" class="form-control" asp-for="Icon" />
        <span class="text-danger" asp-validation-for="Icon"></span>
    </div>
    <div class="form-group">
        <label>İsim</label>
        <input type="text" class="form-control" asp-for="Name" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label>Link</label>
        <input type="url" class="form-control" asp-for="Link" />
        <span class="text-danger" asp-validation-for="Link"></span>
    </div>



    <button class="btn btn-outline-primary" type="submit">Kaydet</button>
</form>
